In [127]:
import pandas as pd
import numpy as np
import talib

In [128]:
minDf = pd.read_csv('./Stock_Trading_System/32bit/hapminstockdata/루닛 분 단위 주식 데이터.csv', encoding='euc-kr')
dayDf = pd.read_csv('./Stock_Trading_System/32bit/hapdaystockdata/루닛 일 단위 주식 데이터.csv', encoding='euc-kr')
newsDf = pd.read_csv('./Stock_Trading_System/32bit/hapnewsdata/루닛 뉴스 데이터.csv', encoding='utf-8')

In [129]:
upper, middle, lower = talib.BBANDS(dayDf['종가'], timeperiod=20)
macd, macdsignal, macdhist = talib.MACD(dayDf['종가'], fastperiod=12, slowperiod=26, signalperiod=9)
ar_up, ar_dn = talib.AROON(dayDf['고가'], dayDf['저가'], timeperiod=14)
resultDf = pd.DataFrame({
    '종목코드':dayDf['종목코드'],
    '종목명':dayDf['종목명'],
    '날짜':dayDf['날짜'],
    'SMA5':talib.SMA(dayDf['종가'], timeperiod=5),
    'SMA20':talib.SMA(dayDf['종가'], timeperiod=10),
    'UPPER':upper,
    'MAVG':middle,
    'LOWER':lower,
    'RSI':talib.RSI(dayDf['종가'], timeperiod=14),
    'MACD':macd,
    'AROONUP':ar_up,
    'AROONDN':ar_dn
    })
resultDf = resultDf[33:].reset_index()
resultDf.drop('index', axis=1, inplace=True)

In [130]:
minDf[['SMA5','SMA20','UPPER','MAVG','LOWER','RSI','MACD','AROONUP','AROONDN']] = np.nan

In [202]:
for i in range(0, resultDf.shape[0]):
    minDf['SMA5'] = minDf[minDf['날짜'] == resultDf['날짜'].iloc[i]]['SMA5'].fillna(resultDf['SMA5'][i])

In [203]:
minDf[minDf['날짜'] == 20220908]

,종목코드,종목명,날짜,시간,시가,고가,저가,종가,거래량,SMA5,SMA20,UPPER,MAVG,LOWER,RSI,MACD,AROONUP,AROONDN
12831,A328130,루닛,20220908,901,31250.0,31850.0,31250.0,31600.0,125.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12832,A328130,루닛,20220908,902,31850.0,32000.0,31600.0,31850.0,486.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12833,A328130,루닛,20220908,903,31700.0,32050.0,31650.0,32000.0,1135.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12834,A328130,루닛,20220908,904,32050.0,32500.0,32050.0,32250.0,3679.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12835,A328130,루닛,20220908,905,32250.0,32250.0,32100.0,32200.0,4726.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13206,A328130,루닛,20220908,1517,32350.0,32350.0,32300.0,32300.0,46553.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13207,A328130,루닛,20220908,1518,32350.0,32400.0,32300.0,32400.0,46579.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13208,A328130,루닛,20220908,1519,32400.0,32400.0,32350.0,32350.0,46849.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13209,A328130,루닛,20220908,1520,32400.0,32400.0,32300.0,32400.0,46856.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13210,A328130,루닛,20220908,1530,32850.0,32850.0,32850.0,32850.0,46856.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [195]:
minDf['SMA5'] = minDf[minDf['날짜'] == resultDf['날짜'][1]]['SMA5'].fillna(resultDf['SMA5'][0])

In [199]:
resultDf['날짜'].iloc[0]

20220907