In [8]:
import numpy as np
import pandas as pd
import talib

In [9]:
data = pd.read_csv('./Stock_Trading_System/32bit/hapdaystockdata/루닛 일 단위 주식 데이터.csv', encoding='euc-kr')
dataCp = data.copy()
# dataCp.drop(['거래대금','누적체결매도수량','누적체결매수수량'], axis=1, inplace=True)
dataCp

        종목코드 종목명        날짜      시가      고가      저가      종가      거래량
0    A328130  루닛  20220721   30800   40000   29700   40000  3586045
1    A328130  루닛  20220722   39350   48950   38450   40400  4013435
2    A328130  루닛  20220725   39700   42500   36650   37400   868277
3    A328130  루닛  20220726   37300   40250   35800   36750   933368
4    A328130  루닛  20220727   38150   43200   37550   39100  2199376
..       ...  ..       ...     ...     ...     ...     ...      ...
242  A328130  루닛  20230713  186600  201500  186500  194900   586169
243  A328130  루닛  20230714  198100  199400  181000  181000   556537
244  A328130  루닛  20230717  177000  185200  171100  176900   286505
245  A328130  루닛  20230718  177200  181500  175600  176800   238596
246  A328130  루닛  20230719  179500  190100  176600  178500   512841

[247 rows x 8 columns]

In [10]:
# SMA5 -> 5일동안 이동평균
# upper, middle, lower -> 볼린저 밴드
# RSI -> 상대강도지수
# MACD -> 이동 평균 수렴 발산
# AROON -> 기간의 최고점과 최저점을 분석하여 추세의 강도와 방향을 측정하는 추세 추종 지표
upper, middle, lower = talib.BBANDS(dataCp['종가'], timeperiod=20)
macd, macdsignal, macdhist = talib.MACD(dataCp['종가'], fastperiod=12, slowperiod=26, signalperiod=9)
ar_up, ar_dn = talib.AROON(dataCp['고가'], dataCp['저가'], timeperiod=14)
df = pd.DataFrame({
    '종목코드':dataCp['종목코드'],
    '종목명':dataCp['종목명'],
    '날짜':dataCp['날짜'],
    'SMA5':talib.SMA(dataCp['종가'], timeperiod=5),
    'SMA20':talib.SMA(dataCp['종가'], timeperiod=10),
    'UPPER':upper,
    'MAVG':middle,
    'LOWER':lower,
    'RSI':talib.RSI(dataCp['종가'], timeperiod=14),
    'MACD':macd,
    'AROONUP':ar_up,
    'AROONDN':ar_dn
})
df[33:]

,종목코드,종목명,날짜,SMA5,SMA20,UPPER,MAVG,LOWER,RSI,MACD,AROONUP,AROONDN
33,A328130,루닛,20220907,34300.0,36065.0,43211.232571,37787.5,32363.767429,32.432582,-1861.666357,100.000000,7.142857
34,A328130,루닛,20220908,33370.0,35350.0,42862.961580,37345.0,31827.038420,38.568448,-1959.754037,92.857143,0.000000
35,A328130,루닛,20220913,32630.0,34705.0,42568.552650,36927.5,31286.447350,37.966344,-2038.201604,85.714286,21.428571
36,A328130,루닛,20220914,32220.0,34270.0,42498.538275,36502.5,30506.461725,35.388214,-2180.139708,100.000000,14.285714
37,A328130,루닛,20220915,31870.0,33765.0,42365.250396,36137.5,29909.749604,36.983413,-2230.602442,92.857143,7.142857
...,...,...,...,...,...,...,...,...,...,...,...,...
242,A328130,루닛,20230713,182800.0,174130.0,212290.463742,158920.0,105549.536258,70.156773,22163.882524,0.000000,100.000000
243,A328130,루닛,20230714,182380.0,177600.0,209636.324614,162990.0,116343.675386,62.512229,21188.875927,28.571429,92.857143
244,A328130,루닛,20230717,182760.0,180410.0,203924.508348,166805.0,129685.491652,60.420898,19856.447671,21.428571,85.714286
245,A328130,루닛,20230718,182540.0,181290.0,202514.664345,169110.0,135705.335655,60.367850,18578.260887,14.285714,78.571429
246,A328130,루닛,20230719,181620.0,180240.0,201171.417621,171235.0,141298.582379,60.994801,17500.726958,7.142857,71.428571

In [11]:
df[33:][df['날짜'] == 20230718]

C:\Users\pig63\AppData\Local\Temp\ipykernel_11188\519980361.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[33:][df['날짜'] == 20230718]

,종목코드,종목명,날짜,SMA5,SMA20,UPPER,MAVG,LOWER,RSI,MACD,AROONUP,AROONDN
245,A328130,루닛,20230718,182540.0,181290.0,202514.664345,169110.0,135705.335655,60.36785,18578.260887,14.285714,78.571429

In [19]:
df[33:].to_csv('./Stock_Trading_System/32bit/jipyo/루닛 지표 데이터.csv', encoding='euc-kr', index=False)